/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-between; /* To place everything on the right side */
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.header-buttons {
    display: flex;
    align-items: center;
}

/* Adjust the spacing here */
label, select, input, span, button {
    margin: 0 2px; /* Add margin to all elements */
    font-size: 14px;
}

/* Style the dropdown select */
#algorithm {
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    color: #333;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}

#algorithm:hover {
    background-color: #efefef; /* Darker red on hover */
}

#algorithm,
#speed-slider {
    padding: 0px;
}

#speed-slider {
    width: 100px;
}

#start-sorting {
    background-color: #07bb0d; /* Red background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove button border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Change cursor to a pointer on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
}

#start-sorting:hover {
    background-color: #07bb0ddb; /* Darker red on hover */
}

.stop-button {
    background-color: #FF4136; /* Red background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove button border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Change cursor to a pointer on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
    
}

.stop-button:hover {
    background-color: #D81E0E; /* Darker red on hover */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.sort-container {
    width: 80%;
    max-width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
}

.bar {
    flex: 1;
    background-color: #333;
    margin: 0 2px;
}
